body {
    color: aliceblue;
    background: url(src/space.png);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 1vw;
    color: aliceblue;
    text-decoration: none;
}

nav a:hover {
    color: bisque;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    margin: 0 10vw;
}

.card {
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;
    background: rgba(77, 77, 77, 0.5);
    padding-bottom: 3vh;
    border-radius: 15px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card figure {
    width: 17vw;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: min(17vw, 22vh);
    max-height: 22vh;
}

.card button:hover {
    cursor: pointer;
    color: bisque;
}

.card button {
    width: 3vw;
    color: aliceblue;
    background: none;
    border: none;
}